<settings>
    <servers>
        <server>
            <id>anypoint-exchange-v3</id>
            <username>~~~Client~~~</username>
            <password>7d2c6c02250047a08861fc2255149deb~?~59aE001967584aa6ac15D28D205fC810</password>
        </server>
        <!-- Add other server configurations as needed -->
    </servers>
</settings>
