<settings>
    <servers>
        <server>
            <id>anypoint-exchange-v4</id>
            <username>${secrets.ANYPOINT_USERNAME}</username>
            <password>${secrets.ANYPOINT_PASSWORD}</password>
        </server>
        <!-- Add other server configurations as needed -->
    </servers>
</settings>
